.skill-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 5rem;
    height: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    transition: all .4s;
    background: rgba(153,153,153,.2);
    color: #666;
    font-weight: bold;
}

.skill-block:hover {
    transform: translateY(-5px);
}